<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# qypeapp: http://ogp.me/ns/fb/qypeapp#">
  <title>Ciu - Altstadt, Hamburg - Cocktailbar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="verify-v1" content="aD3gyiM3PjsttPGCCi3MSF98JuWN+CFR+0hDOcsk4YM=" />
  <meta name="google-site-verification" content="CHd0JBhRX2Uf2aUiXu6AZ43NXZxchwcOtaBbUHEI2Ko" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <meta http-equiv="content-language" content="de" />

  <meta name="description" content="Ciu, 20095 Altstadt, Hamburg - CIU´DIE BAR gehört ohne Frage" />
  <meta name="keywords" content="Ciu - Altstadt, Hamburg - Cocktailbar" />

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="xQjpOzj6ohmACtYeu7yRUdddCKVJrfRy64HOAzwQij4=" />

  <meta property='og:site_name' content='Qype' />
  <meta property='fb:app_id' content='81155208363' />
  <meta content="53.5542" property="og:latitude" />
  <meta content="9.99859" property="og:longitude" />
  <meta content="Ciu, Altstadt, Hamburg auf Qype" property="og:title" />

  <meta content="http://bbc.qype.com/place/7522-Ciu-Hamburg" property="og:url" />
  <meta content="qypeapp:bar" property="og:type" />
  <meta content="http://www.qype.com/uploads/photos/0189/0291/Bild_007_thumb.jpg" property="og:image" />

  <link href="http://bbc.qype.com/place/7522-Ciu-Hamburg" rel="canonical" />  
</head>
<body>

<%= yield %>

</body>
</html>
